body {

  min-height: 2000px;
  padding-top: 70px;
  background-color: #1B4B77;
}



h10 {
  font-size: 30px;
}

.jumbotron {
  background-color: #949EA7;
  border-radius: 20px;


}
.navbar-custom {
  background-color: #949EA7;
  color: #000;
}

.navbar-brand {
  color: #000;
}

.smoothScroll {
  color: #000;

}
test {
  color: black;
}
