body {

  min-height: 2000px;
  padding-top: 70px;
  background-color: #1B4B77;
}

.navbar-custom {
  background-color: #7EC58E;
  color: #000;
}
.navbar-brand {
  color: #000;
}



h10 {
  font-size: 30px;
}

.jumbotron {
  background-color: #7EC58E;
  border-radius: 20px;

}

h11 {
font-size: 20px;
}

.btn-custom {
    background-color: #7EC58E;
    border-color: #7EC58E;
    color: #333333;
 }

 .btn-custom:hover {
   background-color: #7EC58E;
   border-color: #7EC58E;
   color: white;
}

.footer {
  position: absolute;
  padding-top: 10px;
  text-align: right;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #7EC58E;
}
