body {

  min-height: 2000px;
  padding-top: 70px;
  background-color: #eee;
}

.navbar-custom {
  background-color: #CFCFCF;
  color: #000;
}



h10 {
  font-size: 30px;
}

.jumbotron {
  background-color: #CFCFCF;
  border-radius: 20px;

}

h11 {
font-size: 20px;
}

.btn-custom {
    background-color: #CFCFCF;
    border-color: #CCCCCC;
    color: #333333;
 }

 .btn-custom:hover {
   background-color: #CFCFCF;
   border-color: #CFCFCF;
   color: white;
}
