body{
    background-color: #1B4B77;
}
.centered-form{
	margin-top: 60px;

}

.centered-form .panel{
	background: #949EA7;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  border-radius: 20px;
}

.panel-title{
  font-family:inherit;
}

.panel-heading {
  
  border-radius: 20px;
}
